#ignore all files
*
!*/

vendor/
t2-output/
target/
tags

#except the following files
!.gitignore

!*.epub
!*.mp3
!*.pdf
!*.docx

!*.md
!*.jpg
!*.txt
!*.html

!*.ini
!*.bat

#except the following folders
